{% extends 'ticket/base/base.html' %}

{% block title %} - {{ ticket.title }}{% endblock title %}

{% block content %}

<section class="section pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="text-left">
                    <a href="{% url 'ticket:index' %}" class="btn btn-outline-dark">
                        <svg class="bi bi-arrow-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M5.854 4.646a.5.5 0 0 1 0 .708L3.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z" />
                            <path fill-rule="evenodd"
                                d="M2.5 8a.5.5 0 0 1 .5-.5h10.5a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                        </svg> Voltar
                    </a>
                </div>
                <hr>
            </div>
        </div>
    </div>
</section>

<section class="section py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="mb-2">
                    {% if ticket.status == 0 %}
                    <span class="badge badge-success">Aberto</span>
                    {% elif ticket.status == 1 %}
                    <span class="badge badge-info">Respondido</span>
                    {% elif ticket.status == 2 %}
                    <span class="badge badge-dark">Encerrado</span>
                    {% endif %}
                </div>
                <div class="card border-primary mb-5">
                    <div class="card-header border-primary bg-primary text-white">
                        <div class="d-flex justify-content-between">
                            <span class="small">{{ ticket.title }}</span>
                            <span class="small">
                                Por {{ user.first_name }} {{ user.last_name }} em {{ ticket.created_at }}
                            </span>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ ticket.body }}
                    </div>
                </div>

                <hr>
            </div>
        </div>

        <div class="row justify-content-center" id="reload">
            <div class="col-md-7">
                {% if not answer %}
                <div class="alert alert-info">
                    Este ticket ainda não possui respostas.
                </div>
                {% else %}
                {% for a in answer %}
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <span>{{ a.title }}</span>
                            <span class="small">
                                Por {{a.answered_by.first_name}} {{a.answered_by.last_name}} em {{ a.created_at }}
                            </span>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ a.answer_text }}
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        {% if ticket.status == 0 or ticket.status == 1 %}
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="shadow p-3 mt-5 bg-white rounded">
                    <form method="post" id="answer_ticket">
                        <div id="message"></div>
                        {% csrf_token %}
                        <input type="hidden" name="id_ticket" value="{{ ticket.id }}">
                        <div class="form-group">
                            {{ form.answer_text.label_tag }}
                            {{ form.answer_text }}
                        </div>
                        {% if request.user.is_staff %}
                        <div class="form-group form-check">
                            {{ form.close }}
                            <label for="id_close" class="form-check-label">Fechar este ticket</label>
                        </div>
                        {% endif %}
                        <button type="submit" class="btn btn-primary">
                            <svg class="bi bi-check2-circle" width="1em" height="1em" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    <path fill-rule="evenodd"
                                    d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z" />
                                </svg>
                        </button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}